@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize; }

body {
  background-image: url("../background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 2rem;
  padding-bottom: 2rem; }

section {
  padding: 2rem 2rem;
  background-color: #343333;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0rem 0rem 1rem blueviolet;
  border-top: none; }

html {
  font-size: 62.5%;
  /*Home Section Start*/
  /*Home Section End*/
  /*About Section Start*/
  /*About Section End*/
  /*Info Section Start*/
  /*Info Section End*/ }
  html .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black;
    box-shadow: 1rem 0 1rem blue;
    display: flex;
    padding: .5rem 2rem;
    align-items: center;
    justify-content: space-between; }
    html .header .logo {
      width: 11.5rem; }
      html .header .logo img {
        width: 100%; }
    html .header .navbar a {
      font-size: 2rem;
      margin-left: 2rem;
      color: yellow; }
      html .header .navbar a:hover {
        color: orange; }
    html .header #menu-btn {
      display: none;
      font-size: 2rem;
      color: yellow; }
  html .home {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 6rem;
    background-color: #343333;
    display: flex;
    justify-content: center;
    align-items: center; }
    html .home .main-image {
      width: 40%;
      height: 100%; }
      html .home .main-image img {
        width: 80%;
        height: 50%; }
    html .home .home-sentence {
      width: 50%;
      padding: 0 2rem; }
      html .home .home-sentence h1 {
        color: yellow;
        font-size: 4rem; }
      html .home .home-sentence p {
        color: gray;
        font-size: 2rem; }
      html .home .home-sentence .btn {
        padding-top: 2rem; }
        html .home .home-sentence .btn button {
          background-color: orange;
          padding: 1rem;
          color: white;
          font-size: 2rem;
          transition: .5s linear; }
          html .home .home-sentence .btn button:hover {
            border: 1px solid orange;
            background-color: transparent; }
  html .about h1 {
    color: yellow;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem; }
  html .about .about-cards {
    display: flex; }
    html .about .about-cards .about-card {
      transition: .5s linear;
      border-radius: 2rem;
      padding: 1rem; }
      html .about .about-cards .about-card:hover {
        box-shadow: 0 0 3rem cornflowerblue; }
      html .about .about-cards .about-card .card-image {
        max-width: 100%;
        padding: 2rem;
        height: 28rem; }
        html .about .about-cards .about-card .card-image img {
          max-width: 100% !important;
          height: 100% !important; }
      html .about .about-cards .about-card .about-sentence {
        text-align: center;
        padding: 0; }
        html .about .about-cards .about-card .about-sentence h3 {
          color: yellow;
          font-size: 2rem; }
        html .about .about-cards .about-card .about-sentence p {
          color: salmon;
          font-size: 1.5rem; }
  html .info {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 3rem 3rem; }
    html .info .img-info {
      max-width: 20rem; }
      html .info .img-info img {
        width: 100%; }
    html .info .info-sentence {
      max-width: 40%; }
      html .info .info-sentence h3 {
        color: yellow;
        font-size: 4rem; }
      html .info .info-sentence p {
        color: gray;
        font-size: 2rem; }

/*Media Queries*/
@media (max-width: 991px) {
  html {
    font-size: 55%; }
    html .home .home-sentence h1 {
      font-size: 3rem; }
    html .home .home-sentence p {
      font-size: 1.5rem; }
    html .home .home-sentence .btn {
      padding-top: 2rem; }
      html .home .home-sentence .btn button {
        background-color: orange;
        padding: 1rem;
        color: white;
        font-size: 1.5rem;
        transition: .5s linear; }
        html .home .home-sentence .btn button:hover {
          border: 1px solid orange;
          background-color: transparent; }
    html .about h1 {
      color: yellow;
      font-size: 3rem;
      text-align: center;
      padding-bottom: 2rem; }
    html .about .about-cards {
      display: flex; }
      html .about .about-cards .about-card {
        transition: .5s linear;
        border-radius: 2rem;
        padding: 1rem; }
        html .about .about-cards .about-card:hover {
          box-shadow: 0 0 1rem black; }
        html .about .about-cards .about-card .card-image {
          max-width: 100%;
          padding: 2rem;
          height: 23rem; }
          html .about .about-cards .about-card .card-image img {
            max-width: 100% !important;
            max-height: 100% !important; }
        html .about .about-cards .about-card .about-sentence {
          text-align: center;
          padding: 0; }
          html .about .about-cards .about-card .about-sentence h3 {
            color: yellow;
            font-size: 2rem; }
          html .about .about-cards .about-card .about-sentence p {
            color: salmon;
            font-size: 1.2rem; }
    html .info {
      display: flex;
      gap: 4rem;
      align-items: center;
      justify-content: center; }
      html .info .img-info {
        max-width: 17rem; }
        html .info .img-info img {
          width: 100%; }
      html .info .info-sentence {
        max-width: 40%; }
        html .info .info-sentence h3 {
          color: yellow;
          font-size: 3rem; }
        html .info .info-sentence p {
          color: gray;
          font-size: 1.5rem; } }
@media (max-width: 768px) {
  html .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: darkslategrey;
    padding: 2rem;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
    html .header .navbar a {
      display: block;
      margin: 2rem;
      text-align: center; }
  html .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  html .header #menu-btn {
    display: inline-block; }
  html .home {
    display: inline-block;
    margin: 0 auto;
    margin-top: 6rem;
    width: 100%;
    text-align: center; }
    html .home .main-image {
      width: 100%; }
      html .home .main-image img {
        width: 100%; }
    html .home .home-sentence {
      width: 100%; }
      html .home .home-sentence h1 {
        font-size: 4rem; }
      html .home .home-sentence p {
        font-size: 3rem; }
      html .home .home-sentence .btn button {
        font-size: 3.5rem; }
  html .about {
    color: yellow;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem; }
    html .about .about-cards {
      display: inline-block;
      width: 100%; }
      html .about .about-cards .about-card {
        transition: .5s linear;
        border-radius: 2rem;
        padding: 1rem;
        width: 100%; }
        html .about .about-cards .about-card:hover {
          box-shadow: 0 0 1rem black; }
        html .about .about-cards .about-card .card-image {
          width: 100%;
          height: 100%;
          padding: 2rem; }
          html .about .about-cards .about-card .card-image img {
            width: 100%; }
        html .about .about-cards .about-card .about-sentence {
          text-align: center;
          padding: 0; }
          html .about .about-cards .about-card .about-sentence h3 {
            color: yellow;
            font-size: 5rem; }
          html .about .about-cards .about-card .about-sentence p {
            color: salmon;
            font-size: 3rem; }
  html .info {
    display: inline-block;
    gap: 4rem;
    align-items: center;
    justify-content: center; }
    html .info .img-info {
      padding: 2rem;
      max-width: 100%; }
      html .info .img-info img {
        width: 100%; }
    html .info .info-sentence {
      padding: 1rem;
      max-width: 100%;
      text-align: center; }
      html .info .info-sentence h3 {
        color: yellow;
        font-size: 5rem; }
      html .info .info-sentence p {
        color: gray;
        font-size: 2.5rem; } }
@media (max-width: 450px) {
  html {
    font-size: 55%; }
    html .home {
      display: inline-block;
      margin: 0 auto;
      margin-top: 6rem;
      width: 100%;
      text-align: center; }
      html .home .main-image {
        width: 100%; }
        html .home .main-image img {
          width: 100%; }
      html .home .home-sentence h1 {
        font-size: 2.4rem; }
      html .home .home-sentence p {
        font-size: 1.5rem; }
      html .home .home-sentence .btn button {
        font-size: 1.5rem; }
    html .about {
      color: yellow;
      font-size: 3rem;
      text-align: center;
      padding-bottom: 2rem; }
      html .about .about-cards {
        display: inline-block;
        width: 100%; }
        html .about .about-cards .about-card {
          transition: .5s linear;
          border-radius: 2rem;
          padding: 1rem;
          width: 100%; }
          html .about .about-cards .about-card:hover {
            box-shadow: 0 0 1rem black; }
          html .about .about-cards .about-card .card-image {
            width: 100%;
            height: 100%;
            padding: 2rem; }
            html .about .about-cards .about-card .card-image img {
              width: 100%; }
          html .about .about-cards .about-card .about-sentence {
            text-align: center;
            padding: 0; }
            html .about .about-cards .about-card .about-sentence h3 {
              color: yellow;
              font-size: 2.5rem; }
            html .about .about-cards .about-card .about-sentence p {
              color: salmon;
              font-size: 1.5rem; }
    html .info {
      display: inline-block;
      gap: 4rem;
      align-items: center;
      justify-content: center; }
      html .info .img-info {
        padding: 2rem;
        max-width: 100%; }
        html .info .img-info img {
          width: 100%; }
      html .info .info-sentence {
        padding: 1rem;
        max-width: 100%;
        text-align: center; }
        html .info .info-sentence h3 {
          color: yellow;
          font-size: 3rem; }
        html .info .info-sentence p {
          color: gray;
          font-size: 1.5rem; } }

/*# sourceMappingURL=style.css.map */
