@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear; }

body {
  background-image: url("../background.png");
  background-repeat: no-repeat;
  padding: 0 2rem;
  background-size: cover;
  margin-bottom: 5rem;
  /*Header Section Start*/
  /*Header Section End*/
  /*Home Section Start*/
  /*Home Section End*/
  /*Card Section Start*/
  /*Card Section End*/
  /*About Section Start*/
  /*About Section End*/
  /*Media Quries*/ }
  body html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; }
    body html::-webkit-scrollbar {
      width: 1.4rem; }
    body html::-webkit-scrollbar-track {
      background: #2a2828; }
    body html::-webkit-scrollbar-thumb {
      background: #f1d009;
      border-radius: 4rem; }
  body section {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
    background-color: #2a2828; }
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black; }
    body .header .logo {
      width: 7.5rem; }
      body .header .logo img {
        width: 100%; }
    body .header .navbar .logo {
      display: none; }
    body .header .navbar a {
      margin-left: 2rem;
      font-size: 1.2rem;
      color: yellow; }
      body .header .navbar a:hover {
        color: #f1d009; }
    body .header .navbar #nav-close {
      color: yellow;
      font-size: 1.4rem;
      cursor: pointer;
      display: none; }
      body .header .navbar #nav-close:hover {
        color: #f1d009; }
    body .header #menu-btn {
      display: none; }
  body .home {
    margin-top: 5.7rem;
    padding: 2rem;
    background-color: #2a2828;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    body .home .col {
      padding-left: 7rem;
      width: 48%;
      margin: 0;
      gap: 1.5rem;
      justify-content: center; }
      body .home .col img {
        width: 60%; }
    body .home .col-text {
      padding-left: 0; }
      body .home .col-text h1 {
        color: yellow;
        font-size: 2rem; }
      body .home .col-text p {
        font-size: 1.1rem;
        color: grey; }
      body .home .col-text button {
        margin-top: .7rem;
        background-color: #d3ad0c;
        color: #efe9e9;
        font-size: 1.6rem;
        padding: 0  .6rem; }
        body .home .col-text button:hover {
          border: 1px solid yellow;
          background-color: transparent;
          color: white; }
  body .card-body {
    background-color: #2a2828;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 2.5rem; }
    body .card-body .card {
      width: 15rem;
      padding: 0 10px;
      text-align: center; }
      body .card-body .card .card-image {
        width: 100%;
        height: 13rem;
        margin: 0;
        margin-bottom: .7rem; }
        body .card-body .card .card-image img {
          width: 100% !important;
          height: 100% !important; }
      body .card-body .card h3 {
        font-size: 1.5rem;
        color: yellow; }
      body .card-body .card p {
        color: grey; }
        body .card-body .card p a {
          color: yellow; }
  body .about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem; }
    body .about .about-img {
      justify-content: flex-start;
      padding: 0 1rem;
      width: 34%; }
      body .about .about-img img {
        width: 100%; }
    body .about .about-rule {
      width: 48%;
      padding: 0 2%; }
      body .about .about-rule h1 {
        color: yellow;
        font-size: 2rem; }
      body .about .about-rule span {
        color: #f1d009;
        font-size: 1.7rem; }
      body .about .about-rule p {
        font-size: 1rem;
        color: grey; }
  @media (max-width: 1200px) {
    body .header {
      padding: 1rem; } }
  @media (max-width: 991px) {
    body {
      /*About Section Start*/
      /*About Section End*/ }
      body html {
        font-size: 55%; }
      body .home {
        padding: 0;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center; }
        body .home .col {
          padding: 1rem;
          width: 35%;
          padding-left: 0; }
          body .home .col img {
            width: 100%; }
        body .home .col-text {
          padding-left: 2rem; }
          body .home .col-text h1 {
            color: yellow;
            font-size: 1rem; }
          body .home .col-text p {
            font-size: .6rem;
            color: grey; }
          body .home .col-text button {
            margin-top: .7rem;
            background-color: yellow;
            color: white;
            font-size: 1rem;
            padding: 0 .7rem; }
      body .card {
        width: 3rem;
        padding: 0 10px;
        text-align: center; }
        body .card .card-image {
          width: 100%;
          margin: 0;
          margin-bottom: .7rem; }
          body .card .card-image img {
            width: 100% !important;
            height: 100% !important; }
        body .card .card-text h3 {
          font-size: 1rem;
          color: yellow; }
        body .card .card-text p {
          font-size: .8rem;
          color: grey; }
      body .about {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 2rem; }
        body .about .about-img {
          justify-content: flex-start;
          padding: 0 1rem;
          width: 34%; }
          body .about .about-img img {
            width: 100%; }
        body .about .about-rule {
          width: 48%;
          padding: .4rem 2%; }
          body .about .about-rule h1 {
            color: yellow;
            font-size: 1.2rem; }
          body .about .about-rule span {
            color: #f1d009;
            font-size: 10px; }
          body .about .about-rule p {
            font-size: .7rem;
            color: grey; } }
  @media (max-width: 768px) {
    body {
      /*About Section Start*/
      /*About Section End*/ }
      body .header #menu-btn {
        display: inline-block;
        color: yellow;
        cursor: pointer;
        font-size: 1.5rem; }
      body .header .logo img {
        position: relative; }
      body .header .navbar {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #504b4b;
        z-index: 10000;
        width: 15rem;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center; }
        body .header .navbar.active {
          left: 0;
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8); }
        body .header .navbar a {
          margin: .3rem 0;
          font-size: 1.5rem; }
        body .header .navbar .logo {
          display: inline-block;
          margin: 0;
          padding: 0; }
        body .header .navbar #nav-close {
          display: block;
          position: absolute;
          top: 1rem;
          right: 1em; }
      body .home {
        display: inline-block;
        padding-top: .7rem;
        padding-bottom: 1rem; }
        body .home .col {
          padding: 0 1rem;
          width: 100%;
          margin: 0;
          gap: 1.5rem;
          text-align: center; }
          body .home .col h1 {
            font-size: 1.4rem; }
          body .home .col p {
            font-size: 1rem;
            color: grey; }
          body .home .col button {
            margin-top: .7rem;
            background-color: yellow;
            color: white;
            font-size: 1rem;
            padding: .5rem 3rem; }
          body .home .col img {
            width: 100%; }
      body .card-body {
        display: inline-block;
        width: 100%; }
        body .card-body .card {
          width: 100%;
          text-align: center;
          padding-bottom: 2rem; }
          body .card-body .card .card-image {
            width: 100%;
            height: 100%;
            text-align: center;
            margin: 0 auto; }
        body .card-body .card-text h3 {
          font-size: 2rem; }
        body .card-body .card-text p {
          font-size: 1rem; }
      body .about {
        display: inline-block;
        align-content: center;
        text-align: center;
        margin: 0 auto;
        padding: 2rem; }
        body .about .about-img {
          padding: 0 1rem;
          width: 100%; }
          body .about .about-img img {
            width: 50%; }
        body .about .about-rule {
          width: 100%;
          padding: 0 2%; }
          body .about .about-rule h1 {
            color: yellow;
            font-size: 1.5em; }
          body .about .about-rule span {
            color: #f1d009;
            font-size: 1rem; }
          body .about .about-rule p {
            font-size: .6rem;
            color: grey; } }
  @media (max-width: 450px) {
    body {
      /*About Section Start*/
      /*About Section End*/ }
      body .html {
        font-size: 50%; }
      body .home {
        padding-top: .7rem;
        padding-bottom: 1rem; }
        body .home .col {
          padding: 0 1rem; }
        body .home .col-text h1 {
          font-size: 1rem; }
        body .home .col-text p {
          font-size: .6rem;
          color: grey;
          padding: 0 1rem; }
        body .home .col-text button {
          margin-top: .7rem;
          background-color: yellow;
          color: white;
          font-size: .6rem;
          padding: .1rem .5rem; }
      body .card-body .card-text h3 {
        font-size: 1rem; }
      body .card-body .card-text p {
        font-size: .7rem; }
      body .about {
        display: inline-block;
        align-content: center;
        text-align: center;
        margin: 0 auto;
        padding: 2rem; }
        body .about .about-img {
          padding: 0 1rem;
          width: 100%; }
          body .about .about-img img {
            width: 50%; }
        body .about .about-rule {
          width: 100%;
          padding: 0 2%; }
          body .about .about-rule h1 {
            color: yellow;
            font-size: 1rem; }
          body .about .about-rule span {
            color: #f1d009;
            font-size: 14px; }
          body .about .about-rule p {
            font-size: 9px;
            color: grey; } }

/*# sourceMappingURL=style.css.map */
