*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
//Header Start

.Header{
  background-color: orange;
  width: 100%;
  box-shadow: -5px 0 4px black;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  .logo{
    width: 100px;
    margin-left: 2%;
    height: 100%;
    a{
      img{
        width: 100%;
      }
    }
  }

  .nav{
    display: flex;
    padding-right: 3px;
    ul{
      display: flex;
      li{
        display: block;
        a{
          color: white;
          margin-left: 21px;
          font-size: 18px;
        }
      }
    }
  }
}
//Header End

// Main Start

   .Main-list{
     margin: 0 auto;
     width: 100%;

     .Main-Card{
       box-shadow: 0 0 5px black;
       width: 650px;
       padding: 1rem;
       margin: 0 auto;
       display: flex;
       margin-top: 1rem;
       margin-bottom: 12px;
       .photo{
         margin-right: 10px;
         img{
           width: 100%;
         }

       }
       .Text{
         margin-left: 10px;
         h1{
           font-size: 1rem;
         }
         p{
           font-size: 14px;
         }
       }
     }


     .About{
       box-shadow: 0 0 5px black;
       width: 650px;
       margin: 0 auto;
       padding: 14px;
       margin-bottom: 12px;

       img{
         width: 100%;
       }
       p{
         line-height: 20px;
       }
     }
   }

   .Versus{
     box-shadow: 0 0 5px black;
     width: 650px;
     margin: 0 auto;
     margin-bottom: 2rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     .first-Verse{
       display: flex;
       align-items: center;
       width: 230px;
       height: 130px;
       img{
         width: 50%;
       }
       h4{
         font-size: 1rem;
       }
     }
   }

// Main End

@media (max-width: 690px) {
  .Header{
    .logo{
      width: 100px;

      a{
        img{
          width: 100%;
        }
      }
    }

    .nav{

      ul{
        li{
          a{
            font-size: 15px;
          }
        }
      }
    }
  }
  .Main-list {
    .Main-Card {
      width: 600px;
    }

    .About {
      width: 600px;
    }
  }

  .Versus{
    box-shadow: 0 0 5px black;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .first-Verse{
      display: flex;
      align-items: center;
      width: 160px;
      height: 110px;
      img{
        width: 50%;
      }
      h4{
        font-size: 0.7rem;
      }
    }
  }
}
@media (max-width: 635px) {
  .Header{
    .logo{
      width: 100px;

      a{
        img{
          width: 100%;
        }
      }
    }

    .nav{

      ul{
        li{
          a{
            font-size: 11px;
          }
        }
      }
    }
  }
  .Main-list {
    .Main-Card {
      width: 500px;

      p{
      font-size: 13px;
    }
    }

    .About {
      width: 500px;

      p{
        font-size: 13px;
      }
    }
  }
  .Versus{
    box-shadow: 0 0 5px black;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .first-Verse{
      display: flex;
      align-items: center;
      width: 160px;
      height: 110px;
      img{
        width: 50%;
      }
      h4{
        font-size: 0.7rem;
      }
    }
  }
}
@media (max-width: 520px) {

  .Main-list {
    .Main-Card {
      width: 400px;

      .Text{
        margin-left: 0;
        h1{
          font-size: 11px;
        }
        p{
          font-size: 9px;
        }
      }
    }

    .About {
      width: 400px;

      p{
        font-size: 11px;
      }

    }

  }
}

@media (max-width: 430px) {

  .Main-list {
    .Main-Card {
      display: block;
      width: 300px;

      .Text{
        padding: 0 11px 0 1px;
        h1{
          font-size: 10px;
        }
        p{
          font-size: 9px;
        }
      }
    }

    .About {
      width: 300px;

      p{
        font-size: 9px;
      }

    }

  }
}
@media (max-width: 330px) {

  .Main-list {
    .Main-Card {
      display: block;
      width: 250px;

      .Text{
        padding: 0 11px 0 1px;
        h1{
          font-size: 10px;
        }
        p{
          font-size: 9px;
        }
      }
    }

    .About {
      width: 250px;

      p{
        font-size: 9px;
      }

    }

  }
}